body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.375;
}

.title__container {
font-family: 'Montserrat', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
text-transform: uppercase;

color: #4F4C4C;

}